* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.6rem; /* 16px */
  background: var(--night);
  color: var(--amber);
}